html
    meta(charset="UTF-8")
    head
        body
            table
                thead
                    tr
                        th 부서번호
                        th 이름
                        th 직업
                        th 직속상사
                        th 입사일
                        th 연봉
                tbody

        script console.log(empD)


                    // -for (let a of empD)
                    //              tr
                    //                  th=a.EMPNO
                    //                  th=a.ENAME
                    //                  th=a.JOB
                    //                  th=a.MGR
                    //                  th=a.HIREDATE
                    //                  th=a.SAL

