html(lang="en")
    head
        title SCOTT.emp CRUD
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/public/css/empList.css")
        script(src="/public/js/empInsert.js",defer=true)
        style.
            .inputCont.error {
                color: darkred;
            }

            .inputCont.success {
                color: seagreen;
            }

            .inputCont.success input {
                border-color: seagreen;
            }

            .inputCont.error input {
                border-color: darkred;
            }
    body
        a(id="main" href="http://localhost:8888") 메인
        h1 사원 등록 폼 (Read)
        form(id="div" name="empInsertForm",action="/empInsert.do",method="POST")
            div.inputCont
                p
                span 사번:
                input(value="",name="empno",autocomplete="off")
                p#empnoMsg
            div.inputCont
                p
                span 이름:
                input(value="",name="ename",autocomplete="off")
                p#enameMsg
            div.inputCont
                p
                span 직책:
                input(value="",name="job",autocomplete="off")
                p#jobMsg
            div.inputCont
                p
                span 급여:
                input(value="",name="sal",autocomplete="off")
                p#salMsg
            div.inputCont
            p
                span 상여금:
                input(value="",name="comm",autocomplete="off")
                p#commMsg
            p
                span 입사일:
                -const now=new Date()
                -let y=now.getUTCFullYear();
                -let m=now.getUTCMonth()+1;
                -m=(m<10)?`0${m}`:m;
                -let d=now.getUTCDay();
                -d=(d<10)?`0${d}`:d;
                -let nowStr=`${y}-${m}-${d}`
                input(type="date", name="hiredate", value=nowStr,autocomplete="off" )
                //input(type="datetime-local" value="2020-02-23T12:30")
            div.inputCont
                p
                span 상사번호:
                input(value="",name="mgr",autocomplete="off")
                p#mgrMsg
            div.inputCont
                p
                span 부서:
                input(value="",name="deptno",autocomplete="off")
                p#deptnoMsg
            p
                button(id="but" type="submit",autocomplete="off") 등록 제출


