html(lang="en")
    head
        title SCOTT.emp CRUD
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/public/css/empList.css")
    body
        a(id="main" href="http://localhost:8888") 메인
        h1 사원 리스트 (Read)
        //p=empList
        table

            thead
                tr
                    th 사번
                    th 이름
                    th 급여
                    th 입사일
                    th 부서
                    th 상사
                    th 상세
            tbody
                -for(let emp of empList)
                    tr
                        td=emp.EMPNO
                        td=emp.ENAME
                        td=emp.SAL
                        td=emp.HIREDATE.toLocaleDateString()
                        td=emp.DEPTNO
                        td=emp.MGR
                        td
                            a(href="empDetail.do?empno="+emp.EMPNO) 상세

