html(lang="en")
    head
        title SCOTT.emp CRUD
        meta(charset="UTF-8")
        link(rel="stylesheet" href="/public/css/empList.css")

    body
        a(id="main" href="http://localhost:8888") 메인
        h1 사원 수정 폼 (Read)
        h2 요청의 2가지 방식(method) GET 과 POST
        h4 파라미터를 url의 쿼리스트링에 포함해서 보내는 방식 (암기 ! 면접에도 종종 등장!! 차이점)
        h4 GET : 파라미터를 url 의 쿼리스트링에 포함해서 보내는 방식
            ul
                li 보통 GET 방식은 동적리소스의 정보를 추출(SELECT)하는 데 사용되는 파라미터를 보낼 때 사용한다.
                li 때문에 보통 파라미터의 값은 바뀌지 않고 파라미터가 없다면 동적 리소스는 동작하지 않는다.(400)
                li 저장하거나 공유하는 url 의 파라미터는 GET 방식으로 보낸다.
                li 장점 : 통신속도가 POST 보다 빠르다,URL 을 공유할 수 있다.
                li 단점 : url 길이가 제한적이라서 값이 긴 파라미터를 전달할 수 없다.

        h4 POST : 양식을 제출하면 파라미터를 요청 Header 에 포함해서 보내는 방식
            ul
                li 보통 POST 방식은 DATA 를 수정 등록 하는 양식에서 파라미터를 보낼때 사용.
                li 이때 사용된 동적 리소스는 파라미터의 값에 의해서 데이터가 변경될 수 있기 때문에 공유하는 url 로 사용될 수 없다.
                li 요청 Header : 요청하는 내역(url), 브라우저, 컴퓨터, 통신 .....  상세(메타) 정보가 포함됨
                li 장점 : 보안이 강화된다 (파라미터의 값이 숨겨져서 넘어가기 떄문), 파라미터 길이 제한이 없다.
                li 단점 : GET 보다 느리다. url 을 공유할 수 없다.
        form(id="div" name="empUpdateForm",action="/empUpdate.do",method="POST")
            p
                span 사번:
                strong=emp.EMPNO
                input(value=emp.EMPNO,name="empno",type="hidden")
            p
                span 이름:
                input(value=emp.ENAME,name="ename")
            p
                span 직책:
                input(value=emp.JOB,name="job")
            p
                span 급여:
                input(value=emp.SAL,name="sal")
            p
                span 상여금:
                input(value=emp.COMM,name="comm")
            p
                -let y = emp.HIREDATE.getUTCFullYear();
                -let m = emp.HIREDATE.getUTCMonth() + 1;
                -m=(m<10)?`0${m}`:m;
                -let d = emp.HIREDATE.getUTCDay();
                -d=(d<10)?`0${d}`:d;
                span 입사일:
                input(value=`${y}-${m}-${d}`,name="hiredate" ,type="date")
                //emp.HIREDATE type Date:mysql HIREDATE 의 값을 js 의 Date로 파싱
                //type=date :yyyy-mm-dd
                //type=datetime :yyyy-mm-dd hh:mm
            p
                span 상사:
                input(value=emp.MGR,name="mgr")
            p
                span 부서:
                input(value=emp.DEPTNO,name="deptno")
            p
                a(href="empDelete.do?empno="+emp.EMPNO) 삭제
                br
                button(type="submit") 수정제출


